html, body {
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
.cabecalho {
    display: grid;
    place-items: center;
    padding: 15px 0;
    background-color: black;
}


/* Primeira section */
.introducao {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}   

.introducao__titulo {
    font-size: 2.5rem;
}

.introducao__texto {
    color: #a1a1a1;
}

/* Section cars */
.cards {
    max-width: 900px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.card {
    padding: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.293);
}

.card--destaque {
    background-color: rgb(83, 92, 214);
}

.card--destaque2 {
    background-color: #773eac;
}

.card__imagem {
    width: 100%;
}

.card__titulo {
    color: rgb(21, 21, 21);
    font-size: 1.5rem;
}

.card__titulo--destaque {
    color: #ffffff;
}


.card__link {
    text-decoration: none;
    color: #ffffff;
}


/* Section Final */
.final {
    margin: 70px 0;
    text-align: center;
}

.final__texto {
    max-width: 500px;
    margin: 0 auto;
}